@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Red Hat Mono', monospace;
}

.light-bg {
  background: #1F1B4B;
  background: radial-gradient(at left center, #1F1B4B, #030812, #030812);
}
